
/*for footer*/
.js-save:hover{
	color: red;
}
.red-heart{
  color:red;
}
.hover-footer:hover {
	background-color: white;
	color: black;
}
.hover-footer:hover a{
	color: black;
}
.hover-footer{
	background-color: black;
	color: white;

}
.hover-footer-a{
	color: white;
}
/*.hover-footer-a:hover{
	color: black;

}*/
.footer-divs{
	width:30rem;
}
@media screen and (max-width: 421px) {
	.footer-divs{
		width:100%;
	}
}
/*for quotesss*/
.typing-text{
  text-align: center;
  color:white;
  margin-top:5em;
  border-size:2px;

  /*border-style: double;*/
  border-color:white;

}
/*.type-write{
  text-decoration: none;
  color: white;
}this part is directlyinline*/
.query_footer:hover{
color: white;
}

@media screen and (min-width: 801px) {
  .footer-email {
    font-size: 1.1rem;
  }
  
}
@media screen and (max-width: 800px){
  .footer-email{
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .footer-email{
    font-size:0.9em;
  
	}
}
@media screen and (max-width: 340px) {
  .footer-email{
    font-size:0.9em;
  
	}
}