
/*for footer*/
.js-save:hover{
	color: red;
}
.red-heart{
  color:red;
}
.hover-footer:hover{
	background-color: white;
	color: black;
}
.hover-footer{
	background-color: black;
	color: white;
}
.footer-divs{
	width:30rem;
}
@media screen and (max-width: 421px) {
	.footer-divs{
		width:100%;
	}
}
/*for quotesss*/
.typing-text{
  text-align: center;
  color:white;
  margin-top:5em;
  border-size:2px;

  /*border-style: double;*/
  border-color:white;

}
/*.type-write{
  text-decoration: none;
  color: white;
}this part is directlyinline*/

/*for image*/
.img-logo{
  height:auto;
  width:14rem;
  margin-top:18vh;

  margin-bottom:10vh;
}


.scale-up-center {
  -webkit-animation: scale-up-center 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


