#goto-top {
  /*display: none;*/
  position: fixed;
  bottom: 2%;
  right: 1.5vw;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  /*background-color:rgb(30,144,255);*/
  color: #3f48cc;
  cursor: pointer;
  padding: 15px;
  /*border-radius: 4px;*/
}
/*.goto-top-class{
  background-color: black;
}
*/