
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 30%; /* IE10 */
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*here is the code for animation text meetups*/
.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}


    .collage:hover {
    filter: none;
      /*-webkit-filter: grayscale(0);*/
      -webkit-transform: scale(1.02);
    }

    /*our team text */
    

.our-team-main-div{
  /*font-family: "Inter", sans-serif;*/
  font-family: 'Fredoka One', cursive;
  background-color: #FFF;
  margin-top: -3em;
  /*width: 60%;*/
  background: transparent;

}

.text-box-ourteam {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.our-team-h1 {
  font-size: 3rem;
  font-weight: 800;
  background-color: #000;
    font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  color: #fff;
  display: block;
  padding: .6rem;
  padding-left: 1em;
  padding-right: 1em;
    border-radius: 10px;

}

/*.our-team-h1:nth-child(2) {
  position: absolute;
  background-color: #fff;
  color: #000;
  -webkit-clip-path: inset(-1% -1% 50% -1%);
          clip-path: inset(-1% -1% 50% -1%);
}*/

.our-team-p {
  font-size: 1.5rem;
  font-weight: 900;
  /*margin-top: 0.5em;*/
  text-align: center;
}
.our-team-p span {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: .25em;
}

.edit{
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}